@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color: #222222;
  background-color: #faf4f2;

  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
